@font-face {
    font-family: 'Game of Thrones';
    src: url('./fontface/GameofThrones.woff2') format('woff2'),
        url('./fontface/GameofThrones.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
  height: 100vh;
    font-family: Arial,sans-serif;
    background-color: #ffffff;
    color: #FFFFFF;
    margin-right: 5%;
    margin-left: 5%;
    font-size: small;
    font-size: 25px;
    background-image: url(./img/bar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

p{
    text-align: left;
    margin: 0px;
}

div,span,td{
    color: #000000;
}

div.Titles{
    padding: 0.5em;
    text-align: center;
    color: #000000;
}

button{
    display: inline;
    font-size: 100%;
}

.ExerciseTitle{
    font-family: "Game of Thrones",Arial,sans-serif;
    font-size: 100px;
    color: #FFFFFF;
    text-shadow: 2px 5px 5px rgba(0,0,0,0.6);
}

div.ControlButtons{
    text-align: center;
}

.Instructions{
    margin-top: 1em;
}

.text{
  color: #FFFFFF;
}

.DecisionPointText{
    text-align: left;
    margin: auto;
}

td#AssetDisplay{
    display: none;
}

td{
  color: #FFFFFF;
}

div.Assets{
    margin: 20px;
}

table.AssetTable{
    border-width: 3px;
    border-style: double;
    border-color: #000000;
    padding: 0.3em;
}

table.AssetTable th{
    background-color: #000000;
    color: #dddddd;
    padding: 0.3em;
}

div.LinkList{
    margin-top: 10px;
}

table.LinkTable{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.FeedbackText{
    color: #000000;
}

table.DPTable{
    margin-left: auto;
    margin-right: auto;
    border-width: 0px;
    padding: 10px;
    vertical-align: top;
}

div.Feedback {
    background-color: #ffffff;
    left: 33%;
    width: 34%;
    top: 33%;
    z-index: 1;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    text-align: center;
    color: #000000;
    position: absolute;
    display: none;
}

div.DecisionPoint{
    background-color: #dddddd;
    text-align: center;
    color: #000000;
    padding: 0.5em;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
    margin: 1px;
}

.FuncButton {
    text-align: center;
    border-style: solid;
    border-color: #FFFFFF;
    color: #000000;
    background-color: #FFFFFF;
    border-width: 2px;
    padding: 15px;
    cursor: pointer;
    font-family: "Game of Thrones";
}

.FuncButtonUp {
    text-align: center;
    border-style: solid;
    border-color: #FFFFFF;
    color: #000000;
    background-color: #FFFFFF;
    border-width: 2px;
    padding: 15px;
    cursor: pointer;
    font-family: "Game of Thrones";
}

.FuncButtonDown
 {
    text-align: center;
    border-style: solid;
    border-color: #FFFFFF;
    color: #000000;
    background-color: #FFFFFF;
    border-width: 2px;
    padding: 15px;
    cursor: pointer;
    font-family: "Game of Thrones";
}
